/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    margin-bottom: 0 !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    margin-bottom: 0;
}

.nav-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #078E15;
}

nav .navbar-menu {
    display: flex;
    gap: 20px;
    margin-bottom: 0;
}
 li {
     list-style-type: none;
 }

 li > a {
     color: white;
     text-decoration: none;
 }
/*    nav .navbar-menu > li {
        list-style-type: none;
    }

        nav .navbar-menu > li > a {
            color: white;
            text-decoration: none;
        }
*/